h3{
    font-size:25px !important;
}
.btn-success:hover{
background-color:red;
}
body{
    text-align:center;
}
canvas{
    animation-name:example;
    animation-duration:5s;
    animation-iteration-count:infinite;
    margin-top:80px;
}
@keyframes example {
    from{box-shadow: 1px 1px 38px yellow;}
    to{box-shadow: 1px 1px 38px red;}
}